{{#partial "title" }}
    Forest Service | Add sighting
{{/partial}}

{{#partial "isActive" }}active{{/partial}}

{{sighting}}

{{#partial "content"}}

    <h1>Add Animal </h1>
    <form action='/add-sighting' method="post">
        <div class="form-group">
            <label for="animal_id">Animal ID</label>
            <input id="animal_id" name="animal_id" class="form-control" type="text">
        </div>
        <div class="form-group">
            <label for="location">Location</label>
            <input id="location" name="location" class="form-control" type="text">
        </div>
        <div class="form-group">
            <label for="rangerName">Ranger Name</label>
            <input id="rangerName" name="rangerName" class="form-control" type="text">
        </div>

        <button type="submit" class="btn">Submit</button>
    </form>
{{/partial}}
{{> layout.hbs}}
