{{#partial "title" }}
    Forest Service | Welcome
{{/partial}}

{{#partial "content"}}
    <h2>Welcome to Douglas Fir Forest Service!</h2>
    <h3>List of animals</h3>

{{/partial}}
{{> layout.hbs}}
